.icon-check {
  color: green;
}

.icon-check-empty {
  color: #b1b1b1;
}

.practice-exercise-topic-text {
  padding-left: 5px;
}

#exerciseDone {
  display: none;
  color: green;
}

.section-headline {
}

#extras {
  display: none;
}

div.exercises-card {
  width: 650px;
}

body.debug #extras .debug-mode {
    display: none;
}

#answer_area_wrap {
    float: right;
    margin-right: 10px;
}